<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1570608271-t0bih4ule7eplhsbb87npmi26ojftnf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1570608271-t0bih4ule7eplhsbb87npmi26ojftnf3</string>
	<key>API_KEY</key>
	<string>AIzaSyA4ltj49eHwBUCdZ0KCWmJDDxAd-J3Nedk</string>
	<key>GCM_SENDER_ID</key>
	<string>1570608271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.homeEmergencyApp</string>
	<key>PROJECT_ID</key>
	<string>home-emergency-app</string>
	<key>STORAGE_BUCKET</key>
	<string>home-emergency-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1570608271:ios:31ac6089df4a23e40f4cfa</string>
	<key>DATABASE_URL</key>
	<string>https://home-emergency-app.firebaseio.com</string>
</dict>
</plist>